## **3. Types, Operations & Methods**
Operation and methods are, in python the base of the syntax.

Operations are used to perform computations on several variables, while methods are operator associated with a specific data type.

Python natively supports a few operations and methods.

### **3.1 Python Data Types:**
In Python, **data types** define the kind of value a variable can hold. Understanding these types is crucial for writing efficient and error-free code.

1. **Integer (`int`)**: Whole numbers, positive or negative (e.g., `5`, `-3`).
2. **Float (`float`)**: Decimal numbers (e.g., `3.14`, `-0.001`).
3. **String (`str`)**: Textual data, enclosed in quotes (e.g., `"hello"`, `'Python'`).
4. **Boolean (`bool`)**: Represents `True` or `False`.

**Why data types**
Data types are essential because each type has its own representation, which can be translated into binary. This translation allows Python to efficiently store and manipulate data. Additionally, the way different data types interact with each other is determined by their underlying representations.

### **3.2 Strings**
Strings (`str`) in Python are sequences of Unicode characters. Below are common operations you can perform on strings.

#### **String Operations**
1. **Concatenation (`+`)**
   Combines two strings.
   ```python
   a = "Hello" + " " + "World"  # Result: "Hello World"
   ```

2. **Repetition (`*`)**
   Repeats a string `n` times.
   ```python
   a = "Hi" * 3  # Result: "HiHiHi"
   ```

3. **Length (`len()`)**
   Returns the number of characters in a string.
   ```python
   a = len("Python")  # Result: 6
   ```

4. **Indexing (`[]`)**
   Accesses a character at a specific position (0-based index).
   ```python
   a = "Hello"[0]  # Result: 'H'
   b = "Hello"[-1] # Result: 'o' (negative indexing)
   ```

5. **Slicing (`[start:stop:step]`)**
   Extracts a substring.
   ```python
   a = "Hello"[1:4]   # Result: "ell"
   b = "Hello"[::-1]  # Result: "olleH" (reverse)
   ```

#### **String Methods**
1. **Case Conversion**
   - `str.upper()`: Converts to uppercase.
     ```python
     a = "hello".upper()  # Result: "HELLO"
     ```
   - `str.lower()`: Converts to lowercase.
     ```python
     a = "HELLO".lower()  # Result: "hello"
     ```
   - `str.capitalize()`: Capitalizes the first character.
     ```python
     a = "hello".capitalize()  # Result: "Hello"
     ```
   - `str.title()`: Capitalizes the first letter of each word.
     ```python
     a = "hello world".title()  # Result: "Hello World"
     ```

2. **Stripping Whitespace**
   - `str.strip()`: Removes leading/trailing whitespace.
     ```python
     a = "  Hello  ".strip()  # Result: "Hello"
     ```
   - `str.lstrip()`/`str.rstrip()`: Removes left/right whitespace.
     ```python
     a = "  Hello".lstrip()  # Result: "Hello"
     ```

3. **Searching & Replacing**
   - `str.find(sub)`: Returns the index of the first occurrence of `sub` (-1 if not found).
     ```python
     a = "Hello".find("e")  # Result: 1
     ```
   - `str.replace(old, new)`: Replaces occurrences of `old` with `new`.
     ```python
     a = "Hello".replace("l", "x")  # Result: "Hexxo"
     ```
   - `str.count(sub)`: Counts occurrences of `sub`.
     ```python
     a = "Hello".count("l")  # Result: 2
     ```

4. **Checking Content**
   - `str.startswith(prefix)`: Checks if the string starts with `prefix`.
     ```python
     a = "Hello".startswith("He")  # Result: True
     ```
   - `str.endswith(suffix)`: Checks if the string ends with `suffix`.
     ```python
     a = "Hello".endswith("lo")  # Result: True
     ```
   - `str.isalpha()`: Checks if all characters are alphabetic.
     ```python
     a = "Hello".isalpha()  # Result: True
     ```

5. **Splitting & Joining**
   - `str.split(delimiter)`: Splits the string into a list.
     ```python
     a = "Hello World".split(" ")  # Result: ["Hello", "World"]
     ```
   - `delimiter.join(list)`: Joins a list into a string.
     ```python
     a = "-".join(["Hello", "World"])  # Result: "Hello-World"
     ```

#### **String Formatting**
1. **f-strings (Python 3.6+)**
   Embeds expressions inside strings.
   ```python
   name = "Alice"
   a = f"Hello, {name}!"  # Result: "Hello, Alice!"
   ```

2. **`str.format()`**
   Formats strings using placeholders.
   ```python
   a = "Hello, {} {}!".format("Alice", "Bob")  # Result: "Hello, Alice!"
   ```

3. **`%-formatting` (Legacy)**
   Uses `%` for substitution.
   ```python
   a = "Hello, %s!" % "Alice"  # Result: "Hello, Alice!"
   ```

#### **Comparison Operations**
Strings can be compared lexicographically (using Unicode values):
```python
a = "apple" == "apple"   # True
b = "apple" < "banana"   # True (lex order)
c = "A" < "a"            # True (uppercase < lowercase)
```

#### **Type Conversion**
1. **`str()`**: Converts other types to strings.
   ```python
   a = str(123)      # Result: "123"
   b = str(3.14)     # Result: "3.14"
   ```
2. **`int()`/`float()`**: Converts strings to numbers (if valid).
   ```python
   a = int("123")    # Result: 123
   b = float("3.14") # Result: 3.14
   ```

#### **Practice Session**
1. **Greeting Generator**: Combine `"Hello"` and `"Alice"` into a greeting like `"Hello, Alice!"`.
2. **Poetic Repetition**: Repeat `"La"` 5 times to create a poetic line (`"La La La La La"`).
3. **Word Length Detective**: Find out how many letters are in the word `"Mystery"`.
4. **Secret Agent**: Extract the first letter of `"Spy"` (hint: it’s a secret!).
5. **Magical Slice**: Extract the first 4 letters of `"Enchanted"` (like a magic spell!).
6. **Shout It Out**: Turn `"whisper"` into a shout (`"WHISPER"`).
7. **Whisper It**: Turn `"SHOUT"` into a whisper (`"shout"`).
8. **Word Swap**: Replace `"old"` with `"new"` in `"The old door"`.
9. **Fruit Basket**: Split `"apple,banana,cherry"` into a list of fruits.
10. **Fruit Salad**: Join `["apple", "banana", "cherry"]` with `" and "` (e.g., `"apple and banana and cherry"`).
11. **Treasure Hunt**: Check if `"gold"` is hidden in `"X marks the spot: gold"`.
12. **Mystery Message**: Use an f-string to reveal `"The treasure is buried at {location}"` (let `location = "island"`).
13. **Clean Up**: Remove extra spaces from `"   Adventure   "` to make it clean.
14. **Bonus Challenge**: Reverse `"Dragon"` to reveal a hidden word (`"nogarD"`).

In [25]:
greet = "Hello"
name = "Bob"
print(greet + ", " + name)

Hello, Bob

In [7]:
base = "La"
sep = " "
num_rep = 3
print((base + sep) * (num_rep - 1) + base)

La La La

In [9]:
word = "Mystery"
print(len(word))

7

In [10]:
word = "Spy"
word[0]

'S'

In [27]:
word = "Enchanted"
print(word[:4])

Ench

In [13]:
word = "whisper"
shouted = word.upper()
print(shouted)
whispered = shouted.lower()
print(whispered)

WHISPER
whisper

In [29]:
sentence = "The old door creaked."

word_to_replace = "old"
replacement_word = "new"

replaced = sentence.replace("old", replacement_word)
print(replaced)

The new door creaked.

In [17]:
str_list = "banana,cherry,kiwi"
splitted = str_list.split(",")
print(splitted)
joined = " & ".join(splitted)
print(joined)

['banana', 'cherry', 'kiwi']
banana & cherry & kiwi

In [ ]:
sentence = "X marks the spot: gold"
target = "petrol"
print(sentence.index(target))

## Alternative
print(target in sentence)

False

In [ ]:
location = "gold"
formatted_sentence = f"Treasury at {location} is now open."

print(formatted_sentence)

Treasury at gold is now open.

In [23]:
word_to_clean = "   Adventure   "
print(word_to_clean.strip())

Adventure

In [24]:
word_to_reverse = "Dragon"
print(word_to_reverse[::-1])

nogarD

### **3.3 Numerical Data**

In Python, you can perform a variety of standard operations on integers (`int`) and floating-point numbers (`float`). Here are the most common operations:

#### **Arithmetic Operations**
1. **Addition (`+`)**
   Adds two numbers.
   ```python
   a = 5 + 3  # Result: 8
   b = 2.5 + 1.5  # Result: 4.0
   ```

2. **Subtraction (`-`)**
   Subtracts the second number from the first.
   ```python
   a = 5 - 3  # Result: 2
   b = 2.5 - 1.5  # Result: 1.0
   ```

3. **Multiplication (`*`)**
   Multiplies two numbers.
   ```python
   a = 5 * 3  # Result: 15
   b = 2.5 * 1.5  # Result: 3.75
   ```

4. **Division (`/`)**
   Divides the first number by the second and returns a float.
   ```python
   a = 5 / 2  # Result: 2.5
   b = 2.5 / 1.5  # Result: 1.6666666666666667
   ```

5. **Floor Division (`//`)**
   Euclidean division
   ```python
   n = a * p + b
   a = n // p
   b = n % p
   ```

   Divides the first number by the second and returns the largest integer less than or equal to the result.
   ```python
   a = 5 // 2  # Result: 2
   b = 2.5 // 1.5  # Result: 1.0
   ```

6. **Modulus (`%`)**
   Returns the remainder of the division.
   ```python
   a = 5 % 2  # Result: 1
   b = 2.5 % 1.5  # Result: 0.5
   ```

7. **Exponentiation (`**`)**
   Raises the first number to the power of the second.
   ```python
   a = 2 ** 3  # Result: 8
   b = 2.5 ** 1.5  # Result: 3.948909691530873
   ```

5.0

7.38905609893065

#### **Comparison Operations**
1. **Equal to (`==`)**
   Checks if two numbers are equal.
   ```python
   a = 5 == 3  # Result: False
   b = 2.5 == 2.5  # Result: True
   ```

2. **Not equal to (`!=`)**
   Checks if two numbers are not equal.
   ```python
   5 != 3  # Result: True
   b = 2.5 != 2.5  # Result: False
   ```

3. **Greater than (`>`)**
   Checks if the first number is greater than the second.
   ```python
   a = 5 > 3  # Result: True
   b = 2.5 > 1.5  # Result: True
   ```

4. **Less than (`<`)**
   Checks if the first number is less than the second.
   ```python
   a = 5 < 3  # Result: False
   b = 2.5 < 1.5  # Result: False
   ```

5. **Greater than or equal to (`>=`)**
   Checks if the first number is greater than or equal to the second.
   ```python
   a = 5 >= 3  # Result: True
   b = 2.5 >= 1.5  # Result: True
   ```

6. **Less than or equal to (`<=`)**
   Checks if the first number is less than or equal to the second.
   ```python
   a = 5 <= 3  # Result: False
   b = 2.5 <= 1.5  # Result: False
   ```

#### **Assignment Operations**
1. **Assignment (`=`)**
   Assigns a value to a variable.
   ```python
   a = 5
   b = 2.5
   ```

2. **Addition assignment (`+=`)**
   Adds the right operand to the left operand and assigns the result to the left operand.
   ```python
   a = 5
   a += 3  # Result: 8
   ```

3. **Subtraction assignment (`-=`)**
   Subtracts the right operand from the left operand and assigns the result to the left operand.
   ```python
   a = 5
   a -= 3  # Result: 2
   ```

4. **Multiplication assignment (`*=`)**
   Multiplies the right operand with the left operand and assigns the result to the left operand.
   ```python
   a = 5
   a *= 3  # Result: 15
   ```

5. **Division assignment (`/=`)**
   Divides the left operand by the right operand and assigns the result to the left operand.
   ```python
   a = 5
   a /= 2  # Result: 2.5
   ```

6. **Floor division assignment (`//=`)**
   Performs floor division on the left operand by the right operand and assigns the result to the left operand.
   ```python
   a = 5
   a //= 2  # Result: 2
   ```

7. **Modulus assignment (`%=`)**
   Takes the modulus using the right operand and assigns the result to the left operand.
   ```python
   a = 5
   a %= 2  # Result: 1
   ```

8. **Exponentiation assignment (`**=`)**
   Performs exponentiation on the left operand using the right operand and assigns the result to the left operand.
   ```python
   a = 2
   a **= 3  # Result: 8
   ```

#### **Practice Session**
1. **Addition**: Add `5` and `3` and print the result.
2. **Subtraction**: Subtract `4` from `10` and print the result.
3. **Multiplication**: Multiply `6` by `3` and print the result.
4. **Division**: Divide `10` by `2` and print the result.
5. **Floor Division**: Perform floor division on `10` and `3` and print the result.
6. **Modulus**: Find the remainder when dividing `10` by `3` and print it.
7. **Exponentiation**: Raise `2` to the power of `3` and print the result.
8. **Equal to**: Check if `5` is equal to `5` and print the result.
9. **Greater than**: Check if `7` is greater than `3` and print the result.
10. **Assignment Operations**: Use `+=` to add `5` to `3` and print the result.
11. **Absolute Value**: Find the absolute value of `-5` and print it.
12. **Rounding**: Round `3.7` to the nearest integer and print the result.
13. **Type Conversion**: Convert `5.9` to an integer and print it.
14. **Bonus Challenge**: Calculate the area of a circle with radius `3` (use `3.14` for π).

In [34]:
first_integer = 5
second_integer = 3
print(first_integer + second_integer)

8

In [36]:
first_integer = 5
second_integer = 3

print(f"The result of the multiplication of {first_integer} and {second_integer} is {first_integer * second_integer}")
print(f"The result of the division of {first_integer} and {second_integer} is {first_integer / second_integer}")
print(f"The result of the floor division of {first_integer} and {second_integer} is {first_integer // second_integer}")
print(f"The result of the modulus of {first_integer} and {second_integer} is {first_integer % second_integer}")

The result of the multiplication of 5 and 3 is 15
The result of the division of 5 and 3 is 1.6666666666666667
The result of the floor division of 5 and 3 is 1
The result of the modulus of 5 and 3 is 2

In [37]:
integer_value = 3
power = 4

3**4

81

In [56]:
first = 3
second = 3
third = 4

print(first == second)
print(first == third)

print(first > third)

first += 3
print(first > third)

True
False
False
True

11. **Absolute Value**: Find the absolute value of `-5` and print it.
12. **Rounding**: Round `3.7` to the nearest integer and print the result.
13. **Type Conversion**: Convert `5.9` to an integer and print it.
14. **Bonus Challenge**: Calculate the area of a circle with radius `3` (use `3.14` for π).

In [41]:
variable = - 5
variable = abs(variable)
variable

5

In [44]:
variable1 = 3.4
variable2 = 3.6

round(variable1, 0), round(variable2, 0)

(3.0, 4.0)

In [46]:
radius = 3

area = 3.14 * radius ** 2
area

28.26

In [47]:
import math
math.pi

3.141592653589793

### **3.4 Booleans**
In Python, a **Boolean** is a data type that can only have one of two values: `True` or `False`. Booleans are fundamental for control flow and logic in programming, representing conditions that are either met or not.

#### **Key Characteristics of Booleans:**
1.  **Two Values**: `True` and `False`.
2.  **Case-Sensitive**: `True` and `False` must be capitalized.
3.  **Logical Operations**: Used with `and`, `or`, `not` to combine or invert conditions.
4.  **Comparison Results**: All comparison operations (e.g., `==`, `>`, `<`) return a Boolean value.

#### **Boolean Operations**
1.  **Logical `and` / `&` **
    Returns `True` if both operands are `True`.
    ```python
    a = True and False  # Result: False
    b = (5 > 3) & (10 < 20) # Result: True
    ```

2.  **Logical `or` / `|` **
    Returns `True` if at least one operand is `True`.
    ```python
    a = True or False   # Result: True
    b = (5 > 10) or (10 < 20) # Result: True
    ```

3.  **Logical `not`**
    Inverts the Boolean value.
    ```python
    a = not True        # Result: False
    b = not(5 == 5)    # Result: False
    ```

#### **Comparison Operations**
As seen with numerical data, comparison operators yield Boolean results.
1.  **Equal to (`==`)**
    ```python
    a = (5 == 5)  # Result: True
    ```
2.  **Not equal to (`!=`)**
    ```python
    a = (5 != 10) # Result: True
    ```
3.  **Greater than (`>`), Less than (`<`), Greater than or equal to (`>=`), Less than or equal to (`<=`)**
    These also return `True` or `False`.
    ```python
    a = (10 > 5)  # Result: True
    b = (5 <= 5)  # Result: True
    ```

#### **Type Conversion**
1.  **`bool()`**: Converts other types to Booleans.
    -   Numbers: `0`, `0.0` become `False`; any other number becomes `True`.
    -   Strings: Empty string `""` becomes `False`; any other string becomes `True`.
    -   Other types: Empty collections (e.g., `[]`, `{}`, `()`) become `False`; non-empty collections become `True`. `None` becomes `False`.
    ```python
    a = bool(1)         # Result: True
    b = bool(0)         # Result: False
    c = bool("hello")   # Result: True
    d = bool("")        # Result: False
    e = bool([])        # Result: False
    ```

#### **Practice Session**
1.  **True or False**: Assign `True` to a variable `is_sunny` and `False` to `is_raining`.
2.  **Logical AND**: Check if it's both sunny and not raining.
3.  **Logical OR**: Check if it's either sunny or raining.
4.  **Logical NOT**: Invert the value of `is_sunny`.
5.  **Comparison**: Check if `10` is greater than `5` AND `5` is less than `2`.
6.  **Truthiness of Numbers**: Convert `0` and `100` to Booleans.
7.  **Truthiness of Strings**: Convert an empty string `""` and `"Python"` to Booleans.
8.  **Bonus Challenge**: A user is `is_logged_in = True` and has `has_permission = False`. Check if the user is logged in AND has permission. Then, check if the user is logged in OR has permission.

In [52]:
is_sunny = True
is_raining = False

In [53]:
is_sunny & is_raining

False

In [54]:
is_sunny | is_raining

True

In [55]:
not is_sunny

False

In [57]:
(first > third) & (second > third)

False

### **3.5 None**
In Python, `None` is a special constant that represents the absence of a value or a null value. It is an object of the `NoneType` data type.

#### **Key Characteristics of None:**
1.  **Singleton**: There is only one `None` object in Python. All variables assigned `None` point to this same object.
2.  **No Value**: It indicates that a variable has no value.
3.  **Default Return**: Functions that don't explicitly return a value will implicitly return `None`.
4.  **Evaluates to False**: When converted to a Boolean using `bool()`, `None` evaluates to `False`.

#### **Operations with None**
1.  **Identity Check (`is`, `is not`)**
    The most common way to check for `None` is using the `is` operator, as it checks if two variables refer to the *exact same object* (which is important for `None` being a singleton).
    ```python
    a = None
    b = (a is None)       # Result: True
    c = (a is not 10)     # Result: True
    ```

2.  **Equality Check (`==`)**
    While `==` also works (`None == None` is `True`), `is` is generally preferred for `None` because it's semantically clearer for identity and slightly more performant.
    ```python
    a = None
    b = (a == None)       # Result: True
    ```

#### **Type Conversion**
1.  **`bool()`**: `None` converts to `False`.
    ```python
    a = bool(None)        # Result: False
    ```

#### **Practice Session**
1.  **Assign None**: Create a variable `user_input` and assign `None` to it, indicating no input yet.
2.  **Check for None (is)**: Check if `user_input` is `None` using the `is` operator.
3.  **Check for None (is not)**: Check if `user_input` is not `None`.
4.  **Boolean Conversion**: Convert `None` to a Boolean and print the result.
5.  **Function Return**: Define a simple function that does not have a `return` statement. Call it and store its result in a variable, then check if the result is `None`.

### **3.6 Datetimes**
Python's `datetime` module provides classes for working with dates and times. It's a powerful tool for handling temporal data, which is crucial in business analytics for tasks like time-series analysis, scheduling, and logging.

To use `datetime`, you first need to import it:

In [1]:
import datetime

#### **Key Classes in `datetime`:**
1.  **`date`**: Represents a date (year, month, day).
2.  **`time`**: Represents a time of day (hour, minute, second, microsecond).
3.  **`datetime`**: Represents both a date and a time. This is the most commonly used class.
4.  **`timedelta`**: Represents a duration or difference between two `date`, `time`, or `datetime` instances.

#### **Creating Datetime Objects**
1.  **Current Date and Time (`datetime.datetime.now()`)**
    ```python
    import datetime
    current_dt = datetime.datetime.now()
    # Example Result: 2023-10-27 10:30:45.123456
    ```

2.  **Specific Date and Time (`datetime.datetime(year, month, day, hour, minute, second)`)**
    ```python
    import datetime
    specific_dt = datetime.datetime(2023, 1, 15, 14, 30, 0)
    # Result: 2023-01-15 14:30:00
    ```
    -   `year`, `month`, `day` are mandatory.
    -   `hour`, `minute`, `second`, `microsecond`, `tzinfo` are optional and default to `0` or `None`.

3.  **From a Timestamp (`datetime.datetime.fromtimestamp()`)**
    Converts a Unix timestamp (seconds since epoch) to a `datetime` object.
    ```python
    import datetime
    import time # For getting current timestamp
    timestamp = time.time() # e.g., 1678886400.0
    dt_from_ts = datetime.datetime.fromtimestamp(timestamp)
    # Example Result: 2023-03-15 09:00:00.0
    ```

4.  **Parsing from String (`datetime.datetime.strptime(string, format)`)**
    Converts a string representation of a date/time into a `datetime` object using a specified format code.
    ```python
    import datetime
    date_string = "2023-10-27 15:00:00"
    format_code = "%Y-%m-%d %H:%M:%S"
    parsed_dt = datetime.datetime.strptime(date_string, format_code)
    # Result: 2023-10-27 15:00:00
    ```
    Common format codes:
    -   `%Y`: Year with century (e.g., 2023)
    -   `%m`: Month as zero-padded decimal number (01-12)
    -   `%d`: Day of the month as zero-padded decimal number (01-31)
    -   `%H`: Hour (24-hour clock) as zero-padded decimal number (00-23)
    -   `%M`: Minute as zero-padded decimal number (00-59)
    -   `%S`: Second as zero-padded decimal number (00-59)
    -   `%A`: Weekday name (e.g., Friday)
    -   `%B`: Month name (e.g., October)

#### **Accessing Datetime Components (Attributes)**
Once a `datetime` object is created, you can access its components directly.
```python
import datetime
dt = datetime.datetime(2023, 10, 27, 10, 30, 45)

year = dt.year      # Result: 2023
month = dt.month    # Result: 10
day = dt.day        # Result: 27
hour = dt.hour      # Result: 10
minute = dt.minute  # Result: 30
second = dt.second  # Result: 45
```
You can also get the day of the week (Monday=0, Sunday=6):
```python
weekday = dt.weekday() # Result: 4 (for Friday)
```

#### **Datetime Operations**
1.  **Arithmetic with `timedelta`**
    You can add or subtract `timedelta` objects to `datetime` objects to shift dates and times.
    ```python
    import datetime
    dt = datetime.datetime(2023, 1, 1)
    # Add 7 days
    seven_days_later = dt + datetime.timedelta(days=7) # Result: 2023-01-08 00:00:00
    # Subtract 3 hours
    three_hours_earlier = dt - datetime.timedelta(hours=3) # Result: 2022-12-31 21:00:00
    ```
    `timedelta` can take `days`, `seconds`, `microseconds`, `milliseconds`, `minutes`, `hours`, `weeks`.

2.  **Difference between `datetime` objects**
    Subtracting two `datetime` objects results in a `timedelta` object.
    ```python
    import datetime
    dt1 = datetime.datetime(2023, 1, 10)
    dt2 = datetime.datetime(2023, 1, 1)
    time_difference = dt1 - dt2
    # Result: datetime.timedelta(days=9)
    print(time_difference.days) # Result: 9
    ```

3.  **Comparison Operations**
    `datetime` objects can be compared directly using `==`, `!=`, `<`, `>`, `<=`, `>=`.
    ```python
    import datetime
    dt1 = datetime.datetime(2023, 1, 1)
    dt2 = datetime.datetime(2023, 1, 2)
    is_earlier = dt1 < dt2  # Result: True
    is_equal = dt1 == dt2   # Result: False
    ```

#### **Datetime Methods**
1.  **Formatting to String (`datetime.datetime.strftime(format)`)**
    Converts a `datetime` object to a string using a specified format code.
    ```python
    import datetime
    dt = datetime.datetime(2023, 10, 27, 10, 30)
    formatted_date = dt.strftime("%Y-%m-%d %H:%M")
    # Result: "2023-10-27 10:30"
    ```

2.  **Converting to `date` or `time` only**
    ```python
    import datetime
    dt = datetime.datetime(2023, 10, 27, 10, 30, 45)
    just_date = dt.date() # Result: datetime.date(2023, 10, 27)
    just_time = dt.time() # Result: datetime.time(10, 30, 45)
    ```

#### **Type Conversion**
1.  **`str()`**: Converts a `datetime` object to its default string representation.
    ```python
    import datetime
    dt = datetime.datetime(2023, 1, 1)
    str_dt = str(dt) # Result: "2023-01-01 00:00:00"
    ```

#### **Practice Session**
1.  **Current Moment**: Get the current date and time and store it in a variable.
2.  **Birthday Date**: Create a `datetime` object for your birthday (e.g., January 1, 1990, at 10:00 AM).
3.  **Extract Year**: From your birthday `datetime` object, extract and print the year.
4.  **Day of Week**: Find out what day of the week your birthday falls on (e.g., Monday, Tuesday).
5.  **Future Date**: Add 30 days to the current date and time.
6.  **Time Difference**: Calculate the difference in days between your birthday and the current date.
7.  **Formatted Display**: Display the current date and time in the format `"YYYY/MM/DD HH:MM:SS"`.
8.  **Parse Date**: Convert the string `"2024-07-15 11:45:00"` into a `datetime` object.
9.  **Bonus Challenge**: A project deadline is `datetime.datetime(2024, 12, 31)`. If today is `datetime.datetime(2024, 11, 1)`, how many days are left until the deadline?